@model Product
<form method="post">
    <div class="form-group">
        <label for="email">name:</label>
        <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
        <label for="pwd">salary:</label>
        <input type="number" class="form-control" name="salary">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>